@import url("https://fonts.googleapis.com/css?family=Sanchez|Poppins|Merienda");
html {
  position: relative;
  height: 100%;
}

body {
  font-family: "Sanchez", Helvetica, Arial, sans-serif;
  background-color: #1c1c1c;
}

h1 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #8a2be2;
}

p {
  font-family: "Merienda", sans-serif;
  color: #ffffff;
}

.content {
  margin: 20px 0;
}

.navbar {
  height: 70px;
  background-color: transparent;
  border: none;
  z-index: 100;
  margin: 10px;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-weight: 500;
  font-size: 1em;
  border-radius: 5px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #8a2be2;
}

#nav-resume {
  border: 1px solid #ffffff;
  border-radius: 5px;
  border-color: #8a2be2;
}

.homepage {
  padding: 15% 0 0 0;
  display: flex;
  background-color: #1c1c1c;
}

#scrollIcon {
  margin-top: 200px;
  padding: 10px;
  font-size: 1.5em;
  color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 50%;
}

#scrollIcon:hover {
  color: #8a2be2;
  border-color: #8a2be2;
}
