@import url("https://fonts.googleapis.com/css?family=Sanchez|Poppins|Merienda");
html {
  position: relative;
  height: 100%;
}

body {
  font-family: "Sanchez", Helvetica, Arial, sans-serif;
  background-color: #0b0411;
}

.homepage {
  padding: 15% 0 0 0;
  display: flex;
}

h1 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #5ebc03;
}

p {
  font-family: "Merienda", sans-serif;
  color: #ffffff;
}

.content {
  margin: 20px 70px 20px 70px;
}

.navbar {
  height: 70px;
  background-color: #0b0411;
  border: none;
  z-index: 100;
  padding-top: 10px;
  padding-right: 70px;
  margin-bottom:0px;
}

.navbar .navbar-default .navbar-fixed-top{

}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
}

#nav-resume {
  border: 1px solid #ffff00;
  border-radius: 5px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #8a2be2;
  transform: scale(1.1);
}

#nav-resume:hover {
  border-color: #ffffff;
}

#nav-about > a:hover {
  color: #8a2be2;
}

#nav-experience > a:hover {
  color: #ff2079;
}

#nav-projects > a:hover {
  color: #08f7fe;
}

#nav-contact > a:hover {
  color: #ff6700;
}

#nav-resume > a:hover {
  color: #ffff00;
}

.scrollIcon {
  margin-top: 200px;
  padding: 10px;
  font-size: 1.5em;
  color: #ffffff;
  border: solid 2px #5ebc03;
  border-radius: 50%;
}

#scrollIconHome {
  color: #ffffff;
  border: solid 2px #5ebc03;
}

#scrollIconHome:hover {
  color: #5ebc03;
  border-color: #ffffff;
}

#scrollIconAbout {
  color: #ffffff;
  border: solid 2px #8a2be2;
}

#scrollIconAbout:hover {
  color: #8a2be2;
  border-color: #ffffff;
}

.about {
  background-image: url('bg1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.about-content {
  font-size: 1.25em;
  display: grid;
  margin-top: 10%;
  padding-top: 10%;
}

h2 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #8a2be2;
}

.skills-list > div > ul  {
  color: #ffffff;
  font-weight: 500;
  font-size: 1em;
}

.row-left {
  float : left;
}

.row-right {
  float : right;
}
