@import url("https://fonts.googleapis.com/css?family=Sanchez|Poppins|Merienda|Tourney|Chivo");
html {
  position: relative;
  height: 100%;
}

body {
  font-family: "Sanchez", Helvetica, Arial, sans-serif;
  background-color: #0b0411;
}

.homepage {
  padding: 15% 0 0 0;
  display: flex;
}

h1 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #5ebc03;
}

p {
  font-family: "Merienda", sans-serif;
  color: #ffffff;
}

.content {
  margin: 20px 70px 20px 70px;
}

.navbar {
  height: 70px;
  background-color: #0b0411;
  border: none;
  z-index: 100;
  padding-top: 10px;
  padding-right: 70px;
  margin-bottom:0px;
}

#navheader{
  color: #ffffff;
  font-family: "Poppins", Lato;
  padding-left: 70px;
  display:none;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-family: "Chivo", Lato;
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
}

#nav-resume {
  border: 1px solid #ffff00;
  border-radius: 5px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #8a2be2;
  transform: scale(1.1);
}

.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  font-family: "Chivo", Lato;
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
}

#navheader:hover{
  color: #5ebc03;
}

#nav-resume:hover {
  border-color: #ffffff;
}

#nav-about > a:hover {
  color: #8a2be2;
}

#nav-experience > a:hover {
  color: #ff2079;
}

#nav-projects > a:hover {
  color: #08f7fe;
}

#nav-contact > a:hover {
  color: #ff6700;
}

#nav-resume > a:hover {
  color: #ffff00;
}

.scrollIcon {
  margin-top: 200px;
  padding: 10px;
  font-size: 1.5em;
  color: #ffffff;
  border: solid 2px #5ebc03;
  border-radius: 50%;
}

#scrollIconHome {
  color: #ffffff;
  border: solid 2px #5ebc03;
}

#scrollIconHome:hover {
  color: #5ebc03;
  border-color: #ffffff;
}

#scrollIconAbout {
  color: #ffffff;
  border: solid 2px #8a2be2;
}

#scrollIconAbout:hover {
  color: #8a2be2;
  border-color: #ffffff;
}

.about {
}

.about-content {
  font-size: 1.25em;
  display: grid;
  margin-top: 10%;
  padding-top: 10%;
}

h2 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #8a2be2;
}

.skills-list > div > ul  {
  color: #ffffff;
  font-weight: 500;
  font-size: 1em;
}

.row-left {
  float : left;
}

.row-right {
  float : right;
}


/* Contact */

.contact {
  padding-top: 10%;
  padding-bottom:10%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Tourney', sans-serif;
  color: #ff6700;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.gmail {
  margin-left: 53px;
}

hr {
  border-color: #ff6700;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #ff6700;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}
